.about-section {
    width: 100%;
    min-height: 100vh;

    padding: 8vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section::before {
    inset: 0;
    background: linear-gradient(to bottom, black, transparent 20%);
    z-index:-1;
    content:"";
    position:absolute;
}

.section-label {
    font-size: 0.8rem;
}

.about-title {
    font-size: clamp(2rem, 5vw, 5rem);
    max-width: 900px;
}

.about-text {
    max-width: 600px;
    margin-top: 2rem;

    font-size: clamp(0.9rem, 1vw, 1.1rem);
    line-height: 1.6;
}