.contact-section {
    width: 100%;
    min-height: 100vh;

    padding: 8vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    font-size: clamp(3rem, 8vw, 8rem);
    max-width: 1000px;
}

.contact-links {
    display: flex;
    gap: 2rem;

    margin-top: 3rem;
}

.contact-links a {
    color: inherit;
    text-decoration: none;
}