/* ============================================================
   FOOTER
============================================================ */
.project-footer p {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    bottom:calc(100% + 1.5vh);
    font-size: clamp(0.7rem, 0.8vw, 1.3rem);
    font-family:"Jura", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
        color: #999999;
}

.project-footer {

    position:relative;

    border-top:
        1px solid
        rgba(255,255,255,0.2);

    border-bottom:
        1px solid
        rgba(255,255,255,0.2);

    display: flex;

    justify-content:
        space-around;

    align-items: center;

    padding: 2rem;
    
    background-color: black;
}


.project-footer button {

    background: none;

    border: none;

    color: #999999;

    font-size: clamp(0.7rem, 1vw, 1.3rem);

    letter-spacing: 0.15em;

    cursor: pointer;
}


.project-footer button:hover {

    color: white;
}

.copyright {
    background-color: black;
    
}
.copyright p{
    color:  #999999;
}