.projects-section {
    width: 100%;
    min-height: 100vh;

    padding: 8vw;
}

.projects-title {
    font-size: clamp(3rem, 7vw, 7rem);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    margin-top: 4rem;
}

.project-detail {
    width: 100%;
    min-height: 100vh;

    padding: 8vw;
}