* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Julius Sans One Custom";
    src: url("/fonts/julius-sans-one-latin-400-normal.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Bold Custom";
    src: url("/fonts/kdam-thmor-pro-khmer-400-normal.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("/fonts/JuraLight.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


html,
body,
#root {
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: rgb(107, 107, 107);
    background-image: url("/images/background-gradient.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    font-family: Arial, sans-serif;

    overflow-x: hidden;
}

body {
     transition:
        color 0.4s ease,
        background-color 0.4s ease;
}

body.dark-mode {
    background-color: rgb(71, 71, 71);
    background-image: url("/images/background-gradient-dark.png");
}

.projects-section {
    background-color: #111111;
    color: white;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

h1 {
    font-family: "Bold Custom", sans-serif;
    letter-spacing: 0;
    color: white;
    font-weight: 400;
    text-align: center;

    position: absolute;
    z-index: 1;
}

h2 {
    font-family: "Julius Sans One Custom", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
    color: white;
    font-family: "Julius Sans One Custom", sans-serif;
}

p {
    font-family: "Julius Sans One Custom", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

/* ============================================================
   GLOBAL TEXT COLORS
============================================================ */

/* LIGHT MODE */

body h2:not(button *):not(.project-card *):not(.section-hero *),
body h3:not(button *):not(.project-card *),
body p:not(button *):not(.project-card *):not(.project-footer *):not(.copyright *),
body span:not(button *):not(.project-card *),
body a:not(button *):not(.project-card *) {
    color: black;
}


/* DARK MODE */

body.dark-mode h2:not(button *):not(.project-card *):not(.section-hero *),
body.dark-mode h3:not(button *):not(.project-card *),
body.dark-mode p:not(button *):not(.project-card *):not(.project-footer *):not(.copyright *),
body.dark-mode span:not(button *):not(.project-card *),
body.dark-mode a:not(button *):not(.project-card *) {
    color: white;
}

button {
    border-color: white;
    color:white;
}

.home.dark-mode .scroll-text {
    color:#111111;
} 